<div class="o_control_panel">
  <ol class="breadcrumb" role="navigation">
    <li class="breadcrumb-item active">Employees</li>
  </ol>
  <div class="o_cp_searchview" role="search" style="display: block;">
    <div aria-autocomplete="list" class="o_searchview" role="search">
      <span aria-label="Advanced Search..." class="o_searchview_more fa fa-search-minus" role="img"
        title="Advanced Search..."></span>
      <div class="o_searchview_input_container">
        <div class="dropdown-menu o_searchview_autocomplete" role="menu" style="display: none;"></div><input
          accesskey="Q" aria-haspopup="true" class="o_searchview_input" placeholder="Search..." role="searchbox"
          type="text">
      </div>
    </div>
  </div>
  <div class="o_cp_left">
    <div aria-label="Control panel toolbar" class="o_cp_buttons" role="toolbar">
      <div>
        <button accesskey="c" class="btn btn-primary o-kanban-button-new" type="button">
          Create
        </button>

        <button class="btn btn-secondary o_button_import" type="button">
          Import
        </button>
      </div>
    </div>
    <aside class="o_cp_sidebar"></aside>
  </div>
  <div class="o_cp_right">
    <div class="btn-group o_search_options" role="search" style="display: block;">
      <div style="display: block;">
        <div class="btn-group o_dropdown">
          <button aria-expanded="false" data-toggle="dropdown"
            class="o_dropdown_toggler_btn btn btn-secondary dropdown-toggle" tabindex="-1">
            <span class="fa fa-filter"></span> Filters
          </button>
          <div class="dropdown-menu o_dropdown_menu o_filters_menu" role="menu">
            <div class="dropdown-divider" data-removable="1" role="separator"></div>
            <div class="o_menu_item" data-id="__filter__10">
              <a href="#" role="menuitem" class="dropdown-item">
                Archived
              </a>
            </div>
            <div class="dropdown-divider" data-removable="1" role="separator"></div>
            <div class="o_menu_item" data-id="__filter__12">
              <a href="#" role="menuitem" class="dropdown-item">
                Unread Messages


              </a>

            </div>


            <div class="dropdown-divider" data-removable="1" role="separator"></div>
            <div class="o_menu_item" data-id="__filter__14">
              <a href="#" role="menuitem" class="dropdown-item">
                Late Activities


              </a>

            </div>



            <div class="o_menu_item" data-id="__filter__15">
              <a href="#" role="menuitem" class="dropdown-item">
                Today Activities


              </a>

            </div>



            <div class="o_menu_item" data-id="__filter__16">
              <a href="#" role="menuitem" class="dropdown-item">
                Future Activities


              </a>

            </div>





            <div class="dropdown-divider" role="separator"></div>
            <button aria-expanded="false" class="dropdown-item o_add_custom_filter o_closed_menu" type="button">Add
              Custom Filter</button>
            <div class="dropdown-item-text o_add_filter_menu">
              <button class="btn btn-primary o_apply_filter" type="button">Apply</button>
              <button class="btn btn-secondary o_add_condition" type="button">
                <span class="fa fa-plus-circle"></span>
                Add a condition
              </button>
            </div>
          </div>
        </div>
        <div class="btn-group o_dropdown">
          <button aria-expanded="false" data-toggle="dropdown"
            class="o_dropdown_toggler_btn btn btn-secondary dropdown-toggle" tabindex="-1">
            <span class="fa fa-bars"></span> Group By
          </button>
          <div class="dropdown-menu o_dropdown_menu o_group_by_menu" role="menu">




            <div class="dropdown-divider" data-removable="1" role="separator"></div>
            <div class="o_menu_item" data-id="__groupby__5">
              <a href="#" role="menuitem" class="dropdown-item">
                Manager


              </a>

            </div>



            <div class="o_menu_item" data-id="__groupby__6">
              <a href="#" role="menuitem" class="dropdown-item">
                Coach


              </a>

            </div>



            <div class="o_menu_item" data-id="__groupby__7">
              <a href="#" role="menuitem" class="dropdown-item">
                Department


              </a>

            </div>



            <div class="o_menu_item" data-id="__groupby__8">
              <a href="#" role="menuitem" class="dropdown-item">
                Job


              </a>

            </div>





            <div class="dropdown-divider o_generator_menu" role="separator"></div>
            <button aria-expanded="false" class="dropdown-item o_generator_menu o_add_custom_group" type="button">Add
              Custom Group</button>


          </div>
        </div>
        <div class="btn-group o_dropdown o_hidden">
          <button aria-expanded="false" data-toggle="dropdown"
            class="o_dropdown_toggler_btn btn btn-secondary dropdown-toggle o_time_range_menu_button" tabindex="-1">
            <span class="fa fa-calendar"></span> Time Ranges <span class="caret"></span>
          </button>
          <div class="dropdown-menu o_dropdown_menu o_time_range_menu" role="menu">
            <div class="dropdown-item-text">
              <label for="date_field_selector">Based On</label>
              <select class="o_input o_date_field_selector" id="date_field_selector">


                <option value="spouse_birthdate">
                  Spouse Birthdate
                </option>



                <option value="birthday">
                  Date of Birth
                </option>



                <option value="visa_expire">
                  Visa Expire Date
                </option>



                <option value="create_date">
                  Created on
                </option>



                <option value="write_date">
                  Last Updated on
                </option>


              </select>
            </div>
            <div class="dropdown-item-text">
              <label for="time_range_selector">Range</label>
              <select class="o_input o_time_range_selector" id="time_range_selector">





                <option value="last_7_days">
                  Last 7 Days
                </option>





                <option value="last_30_days">
                  Last 30 Days
                </option>





                <option value="last_365_days">
                  Last 365 Days
                </option>
























                <optgroup></optgroup>









                <option value="today">
                  Today
                </option>





                <option value="this_week">
                  This Week
                </option>





                <option value="this_month">
                  This Month
                </option>





                <option value="this_quarter">
                  This Quarter
                </option>





                <option value="this_year">
                  This Year
                </option>














                <optgroup></optgroup>



















                <option value="yesterday">
                  Yesterday
                </option>





                <option value="last_week">
                  Last Week
                </option>





                <option value="last_month">
                  Last Month
                </option>





                <option value="last_quarter">
                  Last Quarter
                </option>





                <option value="last_year">
                  Last Year
                </option>




              </select>
            </div>
            <div class="dropdown-item-text">

              <div class="custom-control custom-checkbox">
                <input class="custom-control-input o_comparison_checkbox" id="comparison_checkbox" type="checkbox">
                <label class="custom-control-label" for="comparison_checkbox">Compare To</label>
              </div>
              <select class="o_input o_comparison_time_range_selector o_hidden">


                <option value="previous_period">
                  Previous Period
                </option>



                <option value="previous_year">
                  Previous Year
                </option>


              </select>
            </div>
            <div class="dropdown-item-text">
              <button class="btn btn-primary o_apply_range" type="button">Apply</button>
            </div>
          </div>
        </div>
        <div class="btn-group o_dropdown">
          <button aria-expanded="false" aria-label="Favorites" data-toggle="dropdown"
            class="o_dropdown_toggler_btn btn btn-secondary dropdown-toggle" tabindex="-1" title="Favorites">
            <span class="fa fa-star"></span> Favorites
          </button>
          <div class="dropdown-menu o_favorites_menu" role="menu">
            <div class="dropdown-divider user_filter" role="separator"></div>
            <div class="dropdown-divider shared_filter" role="separator"></div>
            <a aria-expanded="false" class="dropdown-item o_save_search o_closed_menu" href="#" role="button">Save
              current search</a>
            <div class="dropdown-item-text o_save_name" role="menuitem">
              <input class="o_input" type="text">
            </div>
            <div class="dropdown-item-text o_save_name" role="menuitem">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="o_fav_menu_use_by_default" type="checkbox">
                <label class="custom-control-label" for="o_fav_menu_use_by_default">Use by default</label>
              </div>
            </div>
            <div class="dropdown-item-text o_save_name" role="menuitem">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="o_fav_menu_share_all_users" type="checkbox">
                <label class="custom-control-label" for="o_fav_menu_share_all_users">Share with all users <span
                    aria-label="Users" class="fa fa-users" role="img" title="Users"></span></label>
              </div>
            </div>
            <div class="dropdown-item-text o_save_name">
              <button class="btn btn-primary" type="button">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Pager" class="o_cp_pager" role="search">
      <div>
        <span class="o_pager_counter">
          <span class="o_pager_value">1-4</span> / <span class="o_pager_limit">4</span>
        </span>
        <span aria-atomic="true" class="btn-group">





          <button aria-label="Previous" class="fa fa-chevron-left btn btn-secondary o_pager_previous" accesskey="p"
            tabindex="-1" title="Previous" type="button" disabled=""></button>
          <button aria-label="Next" class="fa fa-chevron-right btn btn-secondary o_pager_next" accesskey="n"
            tabindex="-1" title="Next" type="button" disabled=""></button>
        </span>
      </div>
    </nav>
    <nav aria-label="View switcher" class="btn-group o_cp_switch_buttons" role="toolbar"><button accesskey="k"
        data-view-type="kanban" aria-label="View kanban"
        class="btn btn-secondary fa fa-lg fa-th-large o_cp_switch_kanban active" title="" tabindex="-1" type="button"
        data-original-title="View kanban"></button>



      <button accesskey="l" data-view-type="list" aria-label="View list"
        class="btn btn-secondary fa fa-lg fa-list-ul o_cp_switch_list" title="" tabindex="-1" type="button"
        data-original-title="View list"></button>



      <button accesskey="a" data-view-type="activity" aria-label="View activity"
        class="btn btn-secondary fa fa-lg fa-th o_cp_switch_activity" title="" tabindex="-1" type="button"
        data-original-title="View activity"></button></nav>
  </div>
</div>

<div class="o_content">
  <div class="o_view_controller">
    <div class="o_kanban_view o_hr_employee_kanban o_kanban_ungrouped">
      <div class="oe_kanban_global_click o_kanban_record_has_image_fill o_hr_kanban_record o_kanban_record"
        modifiers="{}" tabindex="0" role="article">

        <div class="oe_kanban_details" modifiers="{}">
          <div class="o_kanban_record_top" modifiers="{}">
            <div class="o_kanban_record_headings" modifiers="{}">
              <strong class="o_kanban_record_title" modifiers="{}">
                <span>Nguyen MInh</span>
              </strong>
              <span class="o_kanban_record_subtitle" modifiers="{}"><span>STAFF</span></span>
            </div>
          </div>
          <div class="o_field_many2manytags o_field_widget o_kanban_tags" name="category_ids"></div>
          <ul modifiers="{}">
            <li id="last_login" modifiers="{}"></li>
            <li modifiers="{}"><span>128 Hoang sa Q.1</span></li>
          </ul>
        </div>
      </div>
      <div class="oe_kanban_global_click o_kanban_record_has_image_fill o_hr_kanban_record o_kanban_record"
        modifiers="{}" tabindex="0" role="article">

        <div class="o_kanban_image_fill_left d-none d-md-block"
          style="background-image: url(https://minhnguyen1.odoo.com/web/image?model=hr.employee&amp;field=image_medium&amp;id=3&amp;unique=)"
          role="img" modifiers="{}"></div>

        <div class="o_kanban_image d-md-none rounded-circle"
          style="background-image: url(https://minhnguyen1.odoo.com/web/image?model=hr.employee&amp;field=image_small&amp;id=3&amp;unique=)"
          role="img" modifiers="{}"></div>

        <div class="oe_kanban_details" modifiers="{}">
          <div class="o_kanban_record_top" modifiers="{}">
            <div class="o_kanban_record_headings" modifiers="{}">
              <strong class="o_kanban_record_title" modifiers="{}">
                <span>Nguyen THanh Minh</span>
              </strong>
              <span class="o_kanban_record_subtitle" modifiers="{}"><span>STAFF</span></span>
            </div>
          </div>
          <div class="o_field_many2manytags o_field_widget o_kanban_tags" name="category_ids"></div>
          <ul modifiers="{}">
            <li id="last_login" modifiers="{}"></li>
            <li modifiers="{}"><span>128 Hoang sa Q.1</span></li>
          </ul>
        </div>
      </div>
      <div class="oe_kanban_global_click o_kanban_record_has_image_fill o_hr_kanban_record o_kanban_record"
        modifiers="{}" tabindex="0" role="article">

      </div>

    </div>
  </div>
</div>
