    <div class="heading nopagination notab"  >
      <div class="pull-left ui breadcrumb " ><span ></span><span
          ></span><a href="" class="section" ><span
            >Cài đặt và cấu hình</span><span > </span><span
            ></span></a><span ></span><span
          ></span></div><span ></span>
      <div style="clear:right;" ></div>
    </div>
    <div class="ui segment" >
      <div class="ui pointing teal secondary fluid menu pipeline-editmini-menu" ><a
          class="item active" href="#setting/menu/id/other" ><i class="icon tc-users"
            ></i><span class="" ><span >
            </span><span >Nhân sự</span></span></a></div><br >
      <div id="settingmenu_other" >
        <ul class="ui items setting-other" >
          <li class="item" id="settingmenu_office" >
            <div class="ui image" ><i class="icon tc-map-marker"
                ></i></div>
            <div class="content" ><a
                title="Là trụ sở nơi để nhân viên làm việc gồm thông tin địa chỉ và thời gian làm việc (ca) tương ứng."
                data-roles="231" href="#office" >Văn phòng làm việc</a></div>
          </li>
          <li class="item" id="settingmenu_department" >
            <div class="ui image" ><i class="icon tc-sitemap"
                ></i></div>
            <div class="content" ><a
                title="Xây dựng mô hình phòng ban phù hợp với từng doanh nghiệp và chức năng của từng phòng ban. Chẳng hạn: phòng kế toán, phòng nhân sự,..."
                data-roles="231" routerLink="/departments" >Phòng ban</a></div>
          </li>
          <li class="item" id="settingmenu_setting_role" >
            <div class="ui image" ><i class="icon tc-lock"
                ></i></div>
            <div class="content" ><a
                title="Phân quyền để nhân viên truy cập vào hệ thống cũng như thao tác với từng chức năng khi thêm mới một nhân viên vào công ty."
                data-roles="231" href="#setting/role" >Quyền truy
                cập</a></div>
          </li>
          <li class="item" id="settingmenu_group" >
            <div class="ui image" ><i class="icon tc-users"
                ></i></div>
            <div class="content" ><a
                title="Nhóm các nhân viên theo tiêu chí nào đó như phòng ban, chức vụ, hình thức làm việc..."
                data-roles="231" href="#group" >Nhóm</a></div>
          </li>
          <li class="item" id="settingmenu_employeepointtopic" >
            <div class="ui image" ><i class="icon tc-compose"
                ></i></div>
            <div class="content" ><a
                title="Tạo ra các tiêu chí chấm điểm nhân viên với từng thang điểm tương ứng gồm loại điểm cộng và loại điểm trừ cho từng nhân viên."
                data-roles="264" href="#employeepointtopic" >Tiêu
                chí chấm điểm nhân viên</a></div>
          </li>
          <li class="item" id="settingmenu_hrmleave_setting" >
            <div class="ui image" ><i class="icon tc-calendar-alt"
                ></i></div>
            <div class="content" ><a
                title="Thiết lập thời gian nghỉ phép mặc định và người duyệt đơn xin nghỉ phép." data-roles="231"
                href="#hrmleave/setting" >Cấu hình nghỉ phép</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

