<section class="register"  id="register">
  <div class="container">
    <div class="wrapper-sm">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Tạo tài khoản nhân viên</h2>
              <p class="modal-subtitle">Vui lòng điền đầy đủ thông tin để dễ dàng được hỗ trợ.</p>
            </div>
            <div class="modal-body">
              <div class="box">
                <div class="content registerBox" style="">
                  <form id="signup-modal" role="form"> <input type="hidden" name="faccesscode" id="faccesscode"
                      value="">
                      <app-message></app-message>
                    <table width="100%" style="border-spacing: 0;">
                      <tbody>
                        <tr>
                          <td align="right">
                            <div style="margin-top: -13px; padding-right:10px;">Họ tên</div>
                          </td>
                          <td><input id="sm-fullname" class="form-control input-lg" type="text" placeholder=""
                              name="fullname" [(ngModel)]="fullname" required=""></td>
                        </tr>
                        <tr>
                          <td align="right">
                            <div style="margin-top: -13px; padding-right:10px;">Email</div>
                          </td>
                          <td><input id="email" [(ngModel)]="email" class="form-control input-lg" type="email" name="email"
                              required=""></td>
                        </tr>
                        <tr>
                            <td align="right">
                              <div style="margin-top: -13px; padding-right:10px;">Password</div>
                            </td>
                            <td><input  [(ngModel)]="password" class="form-control input-lg" type="password" name="password"
                                required=""></td>
                          </tr>
                        <tr>
                            <tr>
                                <td align="right">
                                  <div style="margin-top: -13px; padding-right:10px;">Confirm Password</div>
                                </td>
                                <td><input  [(ngModel)]="confirmpassword" class="form-control input-lg" type="password" name="confirmpassword"
                                    required=""></td>
                              </tr>
                            <tr>
                          <td align="right">
                            <div style="margin-top: -13px; padding-right:10px;">Điện thoại</div>
                          </td>
                          <td><input id="sm-phone" [(ngModel)]="phone" class="form-control input-lg" type="number" placeholder=""
                              name="phone" required=""></td>
                        </tr>
                        <tr height="20">
                          <td colspan="2" style="border-top: 1px solid #e5e5e5;margin-bottom:20px;"></td>
                        </tr>
                        <tr>
                          <td align="right">
                            <div style="margin-top: -13px; padding-right:10px;">Lĩnh vực</div>
                          </td>
                          <td> <select id="sm-companyindustry" class="form-control">
                              <option value="1">Công nghệ thông tin</option>
                              <option value="2">Hóa chất & dầu khí</option>
                              <option value="3">Thiết bị điện tử</option>
                              <option value="4">Lắp ráp phụ tùng</option>
                              <option value="5">Khách sạn</option>
                              <option value="6">Chăm sóc sức khỏe</option>
                              <option value="7">Dịch vụ khác</option>
                            </select> </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td align="left"> <button class="btn btn-color" (click)="register()">Hoàn thành</button> </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
              <div class="forgot login-footer" style="display: none;"> <span>Bạn chưa có tài khoản? <a
                    href="javascript: showRegisterForm();">Đăng ký.</a> </span> </div>
              <div class="forgot register-footer" style=""> <span>Bạn đã có tài khoản &emsp;? &emsp;</span> <a href="">Đăng nhập</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>