        <div id="page">
          <div class="heading">
            <div class="pull-left ui breadcrumb large"><span></span><span></span><a href="#employee"
                class="section"><span style="font-size: 24px">Nhân viên</span><span>
                </span><span></span></a><span></span><span></span></div>
            <ul class="headingtabs">
              <li><a href="#" class="active"><span>Tất cả</span><span
                    class="number">{{ employees?.employees.docs.length }}</span></a></li>
              <li class="filtertogglewrapper "><a [ngClass]="active ? 'active' : ''" (click)="showActive()" class="filtertoggle"
                  title="Bật / Tắt chức năng tìm kiếm"><span class="hideonsmall">Bộ lọc &amp; tìm kiếm...</span><i
                    class="icon tc-search onlyonsmall"></i></a></li>
            </ul>
            <div class="pull-right">
              <div class="pull-right headingbuttons"><span></span><span></span><a routerLink="/employee/add"
                  class="mainbutton"><i class="icon tc-plus-circle"></i><span class="hideonsmall">Thêm
                    nhân viên mới</span></a><a href="javascript:void(0)" class="mytip_onpage hideonsmall"><i
                    class="icon tc-upload"></i><span class="hideonsmall">Import</span></a>
                <div class="ui pointing top right dropdown" tabindex="0"><span class="text"></span>
                  <div class="menu" tabindex="-1"><a href="#employee/import" class="item"
                      title="Import danh sách nhân viên"><i class="icon tc-upload"></i><span>Import danh sách nhân
                        viên</span></a><a href="#employeemore/import" class="item" title="Import sơ yếu lý lịch"><i
                        class="icon tc-upload"></i><span>Import sơ
                        yếu lý lịch</span></a><a href="#employee/importoffice" class="item"
                      title="Import chuyển công tác"><i class="icon tc-upload"></i><span>Import
                        chuyển công tác</span></a></div>
                </div>
              </div>
              <div class="paginationwrapper ">
                <div class="ui pagination small menu"><a data-gotopage="0" href="#" class="item disabled"><i
                      class="tc-left icon"></i></a>
                  <div class="active item center aligned"><a href="#"><span><span>Trang</span><span>
                          &nbsp;</span></span><span>1</span><span class="total"><span> /
                        </span><span>{{ employees?.employees.pages }}</span></span></a>
                    <div class="hide">
                      <div class="ui small action input"><input type="text"
                          style="width:40px;border-width:0;padding-left:5px;padding-right:5px;text-align:center;"><button
                          class="ui small teal right labeled icon button"
                          style="background:#ddd;color:#555;padding-left:10px !important;padding-right:45px !important;"><i
                            class="tc-arrowright icon"
                            style="color:#fff;margin-top:0 !important;"></i><span>/&nbsp;</span><span>1</span></button>
                      </div>
                    </div>
                  </div><a data-gotopage="2" class="item"><i class="tc-right icon"></i></a>
                  <!-- (click)=toNext() -->
                </div>
              </div>
            </div>
          </div>

          <div class="tcquerytaglist"></div>
          <div style="clear:both;"></div>
          <div class="filterbarfull filterbar" [ngClass]="filter ? 'filterbarhide' : ''"  style="top: 145px; left: 100px;">
            <form class="ui form" ><span ></span>
              <table width="100%" cellpadding="10" class="" >
                <tbody>
                  <tr >
                    <td style="text-align:right;" ><label
                        >Từ khóa</label></td>
                    <td >
                      <div class="field small">
                          <form class="ui form" autocomplete="off" [formGroup]="formSearch">
                          <mat-form-field>
                              <input matInput formControlName="keysearch">
                            </mat-form-field>
                            <button class="ui fluid blue small button"
                            type="button" (click)="onSubmit()">Tìm kiếm</button>
                        </form>
                      </div>
                    </td>
                  </tr>
                  <!-- <tr >
                    <td >Văn phòng làm việc</td>
                    <td >
                      <div class="ui dropdown search selection fluid   filterbarempty"
                        ><input class="search" autocomplete="off" tabindex="0">
                        <div class="text" >Tất cả</div><i class="dropdown icon"
                          ></i>
                        <div class="menu"  tabindex="-1">
                          <div class="item active selected" data-value="" >Tất cả
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr >
                    <td >Phòng ban</td>
                    <td >
                      <div class="ui dropdown search selection fluid   filterbarempty"
                        ><input class="search" autocomplete="off" tabindex="0">
                        <div class="text" >Tất cả</div><i class="dropdown icon"
                          ></i>
                        <div class="menu"  tabindex="-1">
                          <div class="item active selected" data-value="" >Tất cả
                          </div>
                          <div class="item" data-value="6118" >abc tech</div>
                          <div class="item" data-value="6119" >phòng nhân sự
                          </div>
                          <div class="item" data-value="6120" >nhóm phát
                            triển</div>
                          <div class="item" data-value="6121" >nhóm triển
                            khai</div>
                          <div class="item" data-value="6122" >BRICK</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr >
                    <td >Trạng thái</td>
                    <td >
                      <div class="ui dropdown search selection fluid   filterbarempty"
                        ><input class="search" autocomplete="off" tabindex="0">
                        <div class="text" >Tất cả</div><i class="dropdown icon"
                          ></i>
                        <div class="menu"  tabindex="-1">
                          <div class="item active selected" data-value="" >Tất cả
                          </div>
                          <div class="item" data-value="1" >Có hiệu lực</div>
                          <div class="item" data-value="3" >Vô hiệu lực</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr >
                    <td >Cấp bậc</td>
                    <td >
                      <div class="ui dropdown search selection fluid   filterbarempty"
                        ><input class="search" autocomplete="off" tabindex="0">
                        <div class="text" >Tất cả</div><i class="dropdown icon"
                          ></i>
                        <div class="menu"  tabindex="-1">
                          <div class="item active selected" data-value="" >Tất cả
                          </div>
                          <div class="item" data-value="100" >Mới tốt nghiệp /
                            Thực tập</div>
                          <div class="item" data-value="0" >Nhân viên</div>
                          <div class="item" data-value="60" >Trưởng nhóm / Giám
                            sát</div>
                          <div class="item" data-value="50" >Phó phòng</div>
                          <div class="item" data-value="51" >Trợ lý quản lý cửa
                            hàng</div>
                          <div class="item" data-value="10" >Trưởng phòng</div>
                          <div class="item" data-value="11" >Quản lý cửa hàng
                          </div>
                          <div class="item" data-value="7" >Phó giám đốc</div>
                          <div class="item" data-value="5" >Giám đốc</div>
                          <div class="item" data-value="4" >Giám đốc điều hành
                          </div>
                          <div class="item" data-value="2" >Phó chủ tịch</div>
                          <div class="item" data-value="1" >Chủ tịch</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr >
                    <td >Loại hình công việc</td>
                    <td >
                      <div class="ui dropdown search selection fluid   filterbarempty"
                        ><input class="search" autocomplete="off" tabindex="0">
                        <div class="text" >Tất cả</div><i class="dropdown icon"
                          ></i>
                        <div class="menu"  tabindex="-1">
                          <div class="item active selected" data-value="" >Tất cả
                          </div>
                          <div class="item" data-value="0" >Nhân viên chính thức
                          </div>
                          <div class="item" data-value="1" >Bán thời gian</div>
                          <div class="item" data-value="3" >Thử việc</div>
                          <div class="item" data-value="5" >Làm thêm ngoài giờ
                          </div>
                          <div class="item" data-value="7" >Nhân viên thời vụ
                          </div>
                          <div class="item" data-value="9" >Làm dự án</div>
                        </div>
                      </div>
                    </td>
                  </tr> -->
                  <tr >
                    <td colspan="2" style="text-align:center;" ><a href="#"
                        >Đóng</a></td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
          <div style="padding-top: 0px; padding-bottom: 0px; display: block; min-height: 815px;"
            class="ui segment tc-scrolled">
            <mat-table [dataSource]="dataSource">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="fullname">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element }} </mat-cell>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="department">
                <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.department[0].title}} </mat-cell>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="hiredDate">
                <mat-header-cell *matHeaderCellDef> Hired Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.hired_at}} </mat-cell>
              </ng-container>
            
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
